body {
    color: rgb(4, 0, 251);
    text-align: center;
    font-family: courier;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid rgb(158, 26, 26);
    margin: 0 Auto;
}

#container h1{
    font-size: 20px;
}